@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Roboto:wght@300;400;700&display=swap');

#section
    display: flex
    flex-direction: column
    background: #312925
    align-items: center
    justify-content: center
    width: 100%
    min-height: 100vh
    font-family: 'Montserrat', sans-serif

.squareGroup
    transform: translateY(-28vh)
    margin: auto
    width: fit-content
    height: 60vh
    // background: black
    display: grid
    grid-template-columns: auto auto auto auto
    column-gap: 20px

.col1
    display: grid
    row-gap: 20px
    width: 208px
    transform: translateY(100px)
    div
        background: blue

.col3
    background: blue
    width: 208px
    transform: translateY(100px)

.center
    grid-column-start: 2
    grid-column-end: 3
    width: 600px
    background: #54E50D
    color: white
    display: grid
    grid-template-columns: auto auto
    padding: 35px 30px
    .squareTitle
        display: flex
        flex-direction: column
        justify-content: space-between
        h4
            margin: 0
            font-size: 3rem
        width: 300px
    .resume
        // background: red
        width: 200px
        height: min-content
        margin: auto
        p
            font-size: 0.8rem
.minifooter
    display: flex
    align-items: center
    cursor: pointer
    .line
        height: 2px
        width: 20px
        margin: 0 5px
        background: white
        transition: 1s
    &:hover .line
        width: 40px
   